backend <%= @name %> {
        .host = "<%= @host %>";
        .port = "<%= @port %>";
<% if @probe %>
        .probe = {
                .request =
                        "GET / HTTP/1.1"
                        "Host: <%= @probe %>"
                        "Connection: close";
                .interval = 10s;
                .window = 5;
                .threshold = 3;
                .timeout = 9 s;
        }
<% end %>
}

